body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #40514E;
}

h1{
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
     font-size: 562.5%;   /* 100% =16px */
     color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    line-height: 2;
}

hr{
    border:6px dotted #EAF6F6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

#impro{
    line-height: 2;
    font-weight: normal;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

h2>span{
    color: black;
}
.top-container{
    background-color: #E4F9F5;
   text-align: center;
   position: relative;
   padding-top: 100px;
   
}

.middle-container{
    text-align: center;
    margin: 100px 0;
}

.bottom-container{
    text-align: center; 
    background-color: #66BFBF;
    padding: 50px 0 20px;   
}

.cloud{
    height: 5rem;
    width: 12rem;
    display: inline-block;
}

#top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}

#bottom-cloud{
    position: absolute;
    bottom: 400px;
    left: 300px;
}

.mountains{
    height: 25rem;
    width: 35rem;
}


#my-image{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.java-img{
    float: left;
    width: 25%;
    margin-right: 30px;
    border-radius: 50%;
}

.blog-img{
    float: right;
    width: 25%;
    margin-left: 30px;
    border-radius: 50%;
}

.skill-row{
    margin: 100px auto;
    text-align: center;
    line-height: 2;
    /* margin-left: 30px; */
    width: 50%;
}

.skills{
    text-align: center;
}

a{
    color: #ebecf1;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color:#423144;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
    background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
    background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3f6a85;
    background-image: -webkit-linear-gradient(top, #3f6a85, #3498db);
    background-image: -moz-linear-gradient(top, #3f6a85, #3498db);
    background-image: -ms-linear-gradient(top, #3f6a85, #3498db);
    background-image: -o-linear-gradient(top, #3f6a85, #3498db);
    background-image: linear-gradient(to bottom, #3f6a85, #3498db);
    text-decoration: none;
  }